/* Reset default styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.registration-form{
    display: flex;
    flex:1;
    flex-shrink: 1;
    height: 600px;
    flex-direction: row;
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    box-shadow: 1px 5px 10px 3px rgba(0, 0, 0, 0.2);
}

.login{
    background-color: rgb(246, 246, 246);
    display: flex;
    padding: 30px;
    /* flex: 1; */
    flex-basis: 44%;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.registration{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    padding: 30px;
    /* flex: 2; */
    flex-basis: 56%;
    /* justify-content: center; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.image{
    height: 150px;
    width: 150px;
}

.button{
    background-color: rgb(30, 179,185);
    color: rgb(246, 246, 246);
    font-size: large;
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 40px;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(7, 153, 158);
}
.button:click{
    background-color: rgb(30, 179,185);
}

.input-group{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
}

.input-group div{
    display: flex;
    flex-direction: column;
}

/* .email-password{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: start;
} */

.email-password {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.email-password input[type="checkbox"] {
    margin-top: 5px;
}